/* FONT IMPORTS */

@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,600,300italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,600);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);*/


/* MAIN PAGE STYLES */

*{
  margin:0;
  padding:0;
  /*-webkit-font-smoothing: antialiased;*/
}

html. body{
   overflow-x: hidden;
}

body{
  font-family:'Josefin Slab', serif;
  font-weight:100;
  font-size:18pt;
  line-height:24pt;
  background:#131313;
  color:#AAA;

}
::selection{
  background:#AA0;
  color:#FFF;
}
article{
  width:46.5ch;
  margin:0 auto;
}
p{
  margin:0 0 3ch;
}
h1+p{
  background:#222;
  padding:1ch 2ch;
  color:#CCC;
  /*-webkit-font-smoothing: antialiased;*/
}









/* LISTS */

strong{
  color:#ccc;
}
em{
  color:#bbb;
}
ul, ol{
  padding-left: 3ch;
}
article>ul, article>ol{
  margin-bottom: 2ch;
}



/* HEADINGS */


h1,h2,h3,h4,h5,h6{
  font-family:'Josefin Slab', serif;
  font-weight: 100;
  color:#BBB;
  margin-top:3ch;
  margin-bottom:2ch;
}

h1{
  background-color: #000;
  font-size:36pt;
  position: relative;
  padding:2ch 1ch 1ch 0;
  margin-top: 0ch;
}
h1:before, h1:after {background: #000; content: "";position: absolute;top: 0;bottom: 0;width: 9999px;} 
h1:before {right: 100%; }
h1:after {left: 100%;}




h1+p{
  /*padding:0 2ch;*/
}

h2{font-size:28pt;font-weight:bold;}
h3{font-size:24pt;font-weight:bold;}
h4{font-size:20pt;font-weight:bold;}
h5{font-size:18pt;font-weight:bold;}
h6{font-size:14pt;font-weight:bold;}



/* LINKS */

a{
  color:#bbbb77;
  /*background:#101010;*/
  background:#000;
  word-break: break-all;
}

a:visited{
  color:#bbbb77;
}

a:hover,a:focus{
  /*color:#AA0;*/
  /*background:#111;*/
}



/*article>h2+p{*/








/* HOVER ALL: Screen-Wide Background */

/*article>*:not(div):not(table):hover{background-color: #222;background: #222;position: relative;}
article>*:not(div):not(table):hover:before,
article>*:not(div):not(table):hover:after {content: "";position: absolute;background-color: #222;background: #222;top: 0;bottom: 0;width: 9999px;} 
article>*:not(div):not(table):hover:before{right: 100%;}
article>*:not(div):not(table):hover:after{left: 100%;}
*/



/* PRE */

pre{
  font-family: 'Source Code Pro';
  font-weight: normal!important;
  font-size: 14pt;
  line-height: 18pt;
  padding:1ch 2ch;
  color:#AAA!important;
  margin-bottom: 6ch;
  background-color: #0A0A0A!important;
  background: #0A0A0A!important;
  position: relative;
}

    /* PRE: Screen-Wide Background */
    pre:before,
    pre:after {background: #0A0A0A;background-color: #0A0A0A;content: "";position: absolute;top: 0;bottom: 0;width: 9999px;}
    pre:before {right: 100%;}
    pre:after {left: 100%;}



    /* PRE: Screen-Wide Background Hover */
    /*pre:hover{
      background-color: #222!important;
      background: #222!important;
    }
    pre:hover:before,
    pre:hover:after {
      content: "";
      position: absolute;
      background-color:  #222!important;
      background: #222!important;
      top: 0;
      bottom: 0;
      width: 9999px;
    } 
    pre:hover:before {
      background: #222!important;
      right: 100%; 
    }
    pre:hover:after {
      background: #222!important;
      left: 100%;
    }*/






/* BLOCKQUOTE */

blockquote{
  font-weight:300;
  color:#AAA;
  border-left: 1ch #777 solid;
  padding-left:1ch;
  margin-bottom: 2ch;
  background: #0A0A0A!important;
}

blockquote:hover{
  /*background-color: #0A0A0A!important;*/
  /*background: #0A0A0A!important;*/
  /*border-left: 1ch #555 solid;*/
}




/* TABLE */

article>table{
  margin-bottom:5ch;
}

table{
  border-collapse: collapse;
  color:#aaa;
}
th{
  padding:0ch 2ch;
  background:#888;
  color:#000;
  font-weight: bold;
}
td{
  padding:0ch 2ch;
  border:2px solid #131313;
}
tr:nth-child(odd){background:#222;}
tr:nth-child(even){background:#2A2A2A;}
tr:nth-child(odd):hover{background:#333;}
tr:nth-child(even):hover{background:#3A3A3A;}

    /* PRE: Screen-Wide Background */
    table:before,
    table:after {background: #000; background-color: #000;content: "";position: absolute;top: 0;bottom: 0;width: 9999px;} 
    table:before {right: 100%;}
    table:after {left: 100%;}



/* Images */

article > p > img {
  /*max-width:46.5ch;*/
  width:46.5ch;
}
article > p > a > img {
  /*max-width:46.5ch;*/
  width:46.5ch;
}


iframe{
  background:transparent;
  border:none;
  width:46.5ch;
  height:600px;
  overflow: hidden;
}
/*.ascciify{background:black;-webkit-font-smoothing: antialiased;font-size:12px;font-family:"Source Code Pro";letter-spacing:-3.5px;line-height:5px;}.ascciify *{margin:0;padding:0}*/



/* MATHJAX */


span.MathJax{
  font-size:350%!important; 
  padding:1ch;
  /*background:#191919!important;*/
}
/*span.MathJax:hover{
  background-color: #222!important;
  background: #222!important;
}
span.MathJax:hover:before,
span.MathJax:hover:after {
  content: "";
  position: absolute;
  background-color:  #222!important;
  background: #222!important;
  top: 0;
  bottom: 0;
  width: 9999px;
} 
span.MathJax:hover:before {
  background: #222!important;
  right: 100%; 
}
span.MathJax:hover:after {
  background: #222!important;
  left: 100%;
}

*/
